<ion-header>

  <ion-navbar>
    <ion-title text-center>{{ parentKana.kana }} {{ parentKana.alphabet }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center class="card-background-page">

  <ion-grid>

    <ion-row>
      <ion-col width-50 *ngFor="let kana of parentKana.base">
        <ion-card>
          <ion-card-header>
            {{ kana.kana }}
          </ion-card-header>
          <ion-card-content>
            {{ kana.alphabet }}
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col width-50 *ngFor="let kana of parentKana.extended">
        <ion-card>
          <ion-card-header>
            {{ kana.kana }}
          </ion-card-header>
          <ion-card-content>
            {{ kana.alphabet }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
